@use "../abstracts/media-query" as *;

.head_block {
  position: sticky;
  top: 0;
  border-bottom: 1px solid grey;
  height: 5.4rem;
  background: #ffffff99;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .head_top {
    padding: 0.4rem 1rem;
    font-weight: 600;
  }
  .head_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 100%;
    .head_nav {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.6rem 1rem;
      cursor: pointer;
      font-size: 0.9rem;
      font-weight: 500;
      transition: 300ms ease;
      position: relative;

      &.active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 4rem;
        height: 3px;
        transform: translateX(-50%);
        border-radius: 10px;
        background: #00b9fb;
      }

      &:hover {
        background: #cecece;
      }
    }
  }
}
@include small-screen {
  .head_block {
    height: 6rem !important;
  }
}
